
<div class="container">
  <h2 class="signup">Sign Up</h2>
  <p>Already have an account? Login <a href="/users/login">here</a></p><hr><br>
  {{#if errors}}
    {{#each errors}}
      <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
  {{/if}}
  <form method="post" action="/users/signup">
     <div class="form-group">
      <label>Name</label>
      <input autofocus type="text" class="form-control" placeholder="Name" name="name" required>
    </div>
     <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" placeholder="Email" name="email" required>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" placeholder="Password" name="password" required>
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" class="form-control" placeholder="Password" name="password2" required>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
